<div class="row">
    <div class="col-xs-12">
<hr>
        <button
    class="btn-btn-primary"
    (click) = "getButtonStatus()"
    >Display Details</button>
<p *ngIf="buttonStatus" 
[ngStyle]="{backgroundColor: getColor()}"
>
Its bright and shine
</p>

<!-- <ng-template #noClick>
    <p>
        Its bright and shine
    </p>
</ng-template> -->

<!-- *ngFor="let logItem of log" [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue':'transparent'}"  -->
<div 
*ngFor="let logItem of log; let i = index"
[ngStyle]="{backgroundColor: i >= 4 ? 'blue':'transparent'}"

[ngClass]="{'white-text':i>=4}"
>{{ logItem }}</div>
</div>
</div>